.stats .stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.stats .stats-item {
  background-color: var(--light-color);
  padding: 32px;
  border-radius: 8px;
}

.stats .stats-item.stats-item-accent {
  background-color: var(--magenta);
  color: white;
}

.stats .stats-value {
  font-size: var(--heading-font-size-xl);
  font-weight: 700;
  font-family: var(--heading-font-family);
  line-height: 1.1;
  margin-bottom: 8px;
}

.stats .stats-label {
  font-size: var(--body-font-size-xs);
  opacity: 0.8;
}

@media (width >= 900px) {
  .stats .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
