.stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  align-items: start;
}

.stats .stats-intro p:first-child {
  color: var(--teal);
  font-size: var(--body-font-size-xs);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.stats .stats-intro h2 {
  font-size: var(--heading-font-size-l);
  margin-top: 8px;
}

.stats .stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.stats .stats-item {
  background-color: var(--light-color);
  padding: 24px;
  border-radius: 4px;
}

.stats .stats-item.stats-item-accent {
  background-color: var(--magenta);
  color: white;
}

.stats .stats-value {
  font-size: var(--heading-font-size-xl);
  font-weight: 700;
  font-family: var(--heading-font-family);
  line-height: 1.1;
  margin-bottom: 8px;
}

.stats .stats-label {
  font-size: var(--body-font-size-xs);
  opacity: 0.8;
}

@media (width >= 900px) {
  .stats {
    grid-template-columns: 1fr 2fr;
  }

  .stats .stats-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
